
html {
    height: calc(100% - 60px);
}

body {
    height:100%; /* we want the body to take up the full page */
    margin-bottom: 60px; /* Margin bottom by footer */
}

.jumbotron {
    color:rgb(98, 179, 67); /* jumbotron text color */
    background-color: darkslategrey; /* jumbotron background color */
}

.footer {
    position: fixed; /* setting footer to be fixed position */
    bottom: 0; /* to make sure the footer is at the bottom of the page */
    width: 100%;/* to make sure the footer spands across the whole page */
    height: 60px; /* setting the height of the footer */
    line-height: 43px; /* center the text */
    border-width: 10px!important; /* Setting border width to 10px overridding bootstrap default */
}

.main {
    min-height: 50%; /* jumbotron height */
    margin-bottom: 60px; /* Bottom margin */
    padding-bottom: 90px; /* footer height + 30px */
}

a:link {
    color: rgb(249, 7, 200); /* unvisited link */
  }
  
a:visited {
    color: rgb(0, 134, 216); /* visited link */
  }
  
a:hover {
    color: rgb(213, 68, 235); /* mouse over link */
  }
  
a:active {
    color: rgb(58, 140, 240); /* selected link */
  }
