
html {
    height: calc(100% - 60px);
}




#CABLBio {
  font-family: 'Roboto', sans-serif;
  color: lightslategray
}

body {
    height:100%; 
    margin-bottom: 60px;
}

.jumbotron {
    background-color: rgb(245, 247, 247); 
}

.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 60px; 
    line-height: 43px; 
    border-width: 10px!important; 
}

.main {
    min-height: 50%; 
    margin-bottom: 60px; 
    padding-bottom: 90px; 
}

a:link {
    color: rgb(249, 7, 200); 
  }
  
a:visited {
    color: rgb(0, 134, 216); 
  }
  
a:hover {
    color: rgb(213, 68, 235); 
  }
  
a:active {
    color: rgb(58, 140, 240); 
  }

  .navbar-collapse.collapse.in {
    display: block!important;  
  }